@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Atkinson Hyperlegible Next", system-ui, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #202020;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar content";
    color: #eee;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  text-align: center;
}

main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main div button {
  margin-top: 20px;
  background-color: #333;
  color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  padding: 0;
  border: 2px solid #d9d9d9;
  transition-property: background-color;
  transition-duration: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

main div button img {
  margin-left: 10px;
}

h1{
  animation: fadeIn 1s ease-in-out;
  font-size: 50px;
  margin-bottom: 0px;
  -webkit-app-region: no-drag;
}

p {
  animation: fadeIn 2s ease-in-out;
  font-size: 20px;
  -webkit-app-region: no-drag;
}

.header {
    grid-area: header;
    background-color: #202020;
    color: #eee;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    -webkit-app-region: drag;
    width: 100%;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-top: 1px;
    border-radius: 10px;
}

.header img {
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.header h1 {
    margin: 0;
    margin-left: 5px;
    font-size: 13px;
}

#button--theme {
    margin-right: 20px;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 2px;
}

.header-buttons button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.header-buttons button:hover {
    box-sizing: border-box;
    border: 1px solid #868686;
    background-color: transparent;
}

.header-buttons button img {
    margin: 0;
}





.content {
    flex-grow: 1;
    background-color: #272e32;
    border-top-left-radius: 5px;
    background-image: url('resources/3.png');
    background-size: cover;
    background-position: center;
    grid-area: content;
}

.content img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    
}

#img__profile {
    width: 40px;
}

#div__profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
    margin-left: 15px;
}

h2 {
    font-weight: 500;
}

#div__profile__info {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
    font-weight: 100;
}

img {
    border-radius: 2px;
}

button {
    width: 220px;
    background-color: #414141;
    color: #eee;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 15px;
    -webkit-app-region: no-drag;
}

button:hover {
    background-color: #304ce9;
}

button img {
    width: 20px;
    margin-right: 10px;
}

span {
    font-weight: 100;
}

/* Light theme */

body.light-theme {
    background-color: #eee;
    color: #202020;
}

body.light-theme .sidebar {
    background-color: #eee;
    color: #202020;
}

body.light-theme .header {
    background-color: #eee;
    color: #202020;
}

body.light-theme .header-buttons button img {
    filter: invert(1);
}

body.light-theme main div button {
  border: none;
  border: 2px solid #202020;
  background-color: #dddddd;
}

body.light-theme main div button img {
  filter: invert(1);
}